/* @charset "utf-8";
/* 初始化 */
body, ul, ol, li, p, dl, dt, dd, input, form, h1, h2, h3, h4, h5, h6 , a {
	margin: 0;
	padding: 0;
	font-weight: 400;
}
i {
	font-style:normal;
}
img {
	border: none;
}
img:hover{opacity:.8; }

ul {
	list-style: none;
}
body {
	color: #333;
	font-size: 12px;
	line-height: 1.7em;
}
.msgBox{
	width: 300px!important;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: none;
}
input:focus {
	outline: none
}
.fl {
	float: left
}
.fr {
	float: right!important;
}
.fn{
  float: none!important;
}
.abs {
	position: absolute
}
.rel {
	position: relative
}
.tl{
	text-align: left;
}
.tr{
	text-align: right;
}
.tc{
  text-align: center;
}
.clear {
	clear: both;
	/* height: 0; */
	overflow: hidden
}
.hide{
  display: none!important;
}
.show{
  display: block;
}
.center{width:1002px; margin:0 auto;}

.red{ color: #f00; }
.el-radio-button__inner{
	padding: 6px 12px!important;
}
.el-divider--horizontal{
	margin: 18px 0!important;
}
em{font-style:normal}
